<header>
  <div class="logo">Fake Api</div>
  <div class="search-bar">
    <input type="text" placeholder="Search..." (keyup)="getSearchQuery($event)">
    <button type="submit" (click)="searchProducts()">Search</button>
  </div>
  <div class="sort-options">
    <label>Sort by:</label>

    <select class='select-option' #mySelect (change)='onOptionsSelected(mySelect.value)'>
      <option value="select">select</option>
      <option value="car">car</option>
      <option value="car_model">car_model</option>
      <option value="car_color">car_color</option>
      <option value="car_model_year">car_model_year</option>
      <option value="car_vin">car_vin</option>
      <option value="price">price</option>
      <option value="availability">availability</option>
    </select>   
  </div>
</header>

<div class="cardcon">
  <div class="card"  *ngFor="let product of paginatedProducts" [id]="'card-' + product.id" (click)="onCardClick(product.id)">
    <img src="{{'https://via.placeholder.com/150'}}" alt="Car Image">
    <div class="details">
      <h3>{{product.car}}</h3>
      <ul>
        <li><strong>Model:</strong>{{product.car_model}}</li>
        <li><strong>Color:</strong>{{product.car_color}}</li>
        <li><strong>Model Year:</strong> {{product.car_model_year}}</li>
        <li><strong>VIN:</strong> {{product.car_vin}}</li>
        <li><strong>Price:</strong>{{product.price}}</li>
        <li>
          <strong>Availability:</strong>
          <span *ngIf="product.availability; else elseBlock">Available</span>
          <ng-template #elseBlock>Not Available</ng-template>
        </li>
      </ul>
    </div>
  </div>
</div>

<ul class="pagination">
  <li [ngClass]="{ 'disabled': currentPage === 1 }">
    <a (click)="onPageChange(currentPage - 1)">&laquo;</a>
  </li>
  <li *ngFor="let page of getPagesArray()" [ngClass]="{ 'active': page === currentPage, 'ellipsis': page < 0 }"
      [ngSwitch]="page">
    <a *ngSwitchCase="-1" (click)="onPageChange(currentPage - 5)">&hellip;</a>
    <a *ngSwitchCase="-2" (click)="onPageChange(currentPage + 5)">&hellip;</a>
    <a *ngSwitchDefault (click)="onPageChange(page)">{{ page }}</a>
  </li>
  <li [ngClass]="{ 'disabled': currentPage === totalPages }">
    <a (click)="onPageChange(currentPage + 1)">&raquo;</a>
  </li>
</ul>





